* {
  margin: 0;
  padding: 0;
}

.sidenav {
  background-color: #2e3047;
  background: linear-gradient(to bottom, #3bba9c8a, #7077935e),
    url("/public/images/sidenav-bg.jpg") no-repeat center center/cover;
}

.sidenav-logo {
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.sidenav-logo-text {
  color: #3bba9c;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sidenav-li {
  border-bottom: 1px solid whitesmoke;
}

.sidenav-li-logout {
  margin-top: 10em;
}

@media only screen and (max-width: 768px) {
  .sidenav-li-logout {
    position: absolute;
    bottom: 0;
    margin-left: 1em;
    padding-top: 2em;
    border-bottom: 0px solid whitesmoke;
  }
}

@media only screen and (max-width: 425px) {
  .sidenav-li {
    border-bottom: 0px solid;
    margin-left: -0.5em;
  }
}

@media only screen and (max-width: 768px) {
  .sidenav-icon {
    font-size: 2em;
  }
}
