* {
  margin: 0;
  padding: 0;
}

.login-form {
  background-color: #2e304793;
  height: 80%;
  border-radius: 2%;
}

@media only screen and (max-width: 425px) {
  .login-form {
    height: 100%;
    border-radius: 0;
  }
}

.login-image {
  background: linear-gradient(to bottom, #3bba9c8a, #7077935e),
    url("/public/images/mountain-login-bg.jpg") no-repeat center center/cover;
}

.login-logo {
  margin-bottom: 2em;
  height: 8em;
}

.login-icon {
  margin-bottom: 1em;
  font-size: 2em;
}
.login-link {
  color: #3bba9c;
}

.btn-color {
  background-color: ff;
  color: #eee;
}

.btn-color:hover {
  background-color: #2e3047;
  color: #eee;
}

.login-divider:after,
.login-divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
